name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Install CPU-only torch
      run: pip install torch --index-url https://download.pytorch.org/whl/cpu

    - name: Install test modules
      run: pip install safetensors numpy pytest hypothesis

    - name: Run tests
      run: pytest
